@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;700;900&display=swap');


/* Allgemeine Stile */
body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    touch-action: manipulation;
    overscroll-behavior: none;
}

html body {
    max-width: 100%;
    overflow-x: hidden;
}

.masonry-grid {
    display: flex; /* Flexbox für Masonry */
    margin-left: 0; /* Optional: Entfernt negativen Abstand */
    width: 100%; /* Verhindert Einschränkungen der Breite */
}

.masonry-grid_column {
    background-clip: padding-box;
    margin: 0 0.5rem 0 0.5rem;
}

/* Gallery Container */
.small-gallery {
    padding: 0.5rem;
    background-color: #fff;
    border-left: 2px solid #000;
    margin: 0 auto; /* Zentriert die Galerie */
}

/* Einzelne Posts */
.small-gallery-item {
    display: flex;
    flex-direction: column; /* Stapelt Bild und Text */
    background: #fff;
    overflow: hidden;
}

.small-gallery h2 {
    text-align: left; /* Links ausrichten */
    margin: -0.6rem 0 0 -0.6rem; /* Keine zusätzlichen Abstände */
    padding-left: 10px; /* Optionaler Abstand vom linken Rand */
    font-size: 18px; /* Einheitliche Schriftgröße */
    font-weight: 700; /* Raleway-Bold */
    display: flex;
    align-items: center; /* Vertikale Ausrichtung */
    height: 40px; /* Gleiche Höhe sicherstellen */
    text-transform: uppercase; /* Großbuchstaben */
}
.small-gallery a {
    color: #000;
    text-align: left; /* Links ausrichten */
    margin: -0.6rem 0 0 -0.6rem; /* Keine zusätzlichen Abstände */
    padding-left: 10px; /* Optionaler Abstand vom linken Rand */
    font-size: 18px; /* Einheitliche Schriftgröße */
    font-weight: 700; /* Raleway-Bold */
    display: flex;
    align-items: center; /* Vertikale Ausrichtung */
    height: 40px; /* Gleiche Höhe sicherstellen */
    text-transform: uppercase; /* Großbuchstaben */
    transition: color 0.3s ease; /* Smooth transition */
}

.small-gallery a:hover {
    color: #030738;
}


.small-gallery-title {
    margin: 0rem 0 0.5rem 0;
}



.small-gallery-date {
    font-family: 'Raleway', sans-serif;
    font-weight: 400; /* Raleway Regular */
    font-size: 14px;
    color: #000; /* Schwarz */
    margin: 1.2rem 0 0.2rem 0; /* Abstand oben und unten */
    text-align: left; /* Ausrichtung */
    display: block; /* Sicherstellen, dass es unter dem Bild angezeigt wird */
}

/* Bilder in Posts */
.small-gallery-item img {
    margin: -0.5rem 0 -0.8rem 0;
    width: 100%; /* Breite auf 100% des Containers */
    max-width: 18.75rem; /* Maximalbreite setzen, z.B. 300px in rem */
    object-fit: cover; /* Zuschneiden der Bilder, um die Höhe zu respektieren */
    display: block; /* Bild als Blockelement */
    height: auto;
}

/* Text in Posts */
.small-gallery-item p {
    margin: 0 0 0.7rem 0;
    color: #000;
    font-size: 14px;
    text-align: left;
    font-weight: 200; /* Raleway-ExtraLight */
}

.small-gallery-title-place {
    display: flex;
    align-items: center;
    gap: 0rem; /* Abstand zwischen den Elementen */
}

.small-gallery-title-place svg {
    margin-top: -0.5rem;
}
.small-gallery-title-place a {
    text-decoration: none;
}

.small-gallery-title-place a:hover {
    text-decoration: underline 0.125rem;
    text-underline-offset: 0.2rem;
}


.homepage-layout {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 0 1rem 0 0;
    box-sizing: border-box; /* Verhindert Overflow durch Padding */
  }
  
  .highlights {
    flex: 3; /* Highlights nehmen den verbleibenden Platz ein */
  }
  
  .small-gallery {
    flex: 2; /* Die Galerie hat mehr Platz */
  }
  
  .menu {
    flex: 1; /* Menü nimmt den restlichen Platz ein */
  }

/* Highlights-Section */
.highlights {
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 0 0 0 0;
    gap: 1rem;
    width: 100%; /* 1/2 der Breite */
    box-sizing: border-box;
}

/* Einzelne Highlight-Items */
.highlight-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
    padding: 0 0 0 0;
}

/* Videos */
.highlight-video {
    width: 100%; /* Passt das Video an die Breite seines Containers an */
    max-width: max-content; /* Maximale Breite des Videos */
    height: auto; /* Beibehaltung des Seitenverhältnisses */
    margin-bottom: 0.5rem;
    outline: none;
    overflow: hidden;
}

/* Titel */
.highlight-item h3 {
    color: #fff;
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0.5rem 1rem -0.5rem 1rem;
    font-family: 'Raleway', sans-serif;
}

/* Beschreibung */
.highlight-item p {
    font-size: 1rem;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    margin: 0.5rem 1rem 0 1rem;
}

.markdown-description {
    font-family: 'Raleway', sans-serif;
    font-weight: 200; /* Raleway Light */
    font-size: 1rem;
    margin: 0.5rem 0;
}

/* Menü Section */
.menu {
    background-color: #fff;
    border-left: 0.125rem solid #000; /* Schwarzer Rahmen nur links */
    border-right: 0.125rem solid #000;
    padding: 0.625rem 1.25rem; /* Rechts- und Innenabstand hinzufügen */
    margin-right: 0; /* Zusätzlicher Abstand nach außen */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Start ausrichten */
    height: 100%; /* Gleiche Höhe wie Galerie */
}

.menu h2 {
    text-align: left; /* Links ausrichten */
    margin: 0 0 0 -1.2rem; /* Keine zusätzlichen Abstände */
    padding-left: 10px; /* Optionaler Abstand vom linken Rand */
    font-size: 18px; /* Einheitliche Schriftgröße */
    font-weight: 700; /* Raleway-Bold */
    display: flex;
    align-items: center; /* Vertikale Ausrichtung */
    height: 40px; /* Gleiche Höhe sicherstellen */
    text-transform: uppercase; /* Großbuchstaben */
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    margin-bottom: 10px;
    color: #444;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0 0.5rem 0;
    margin: 0 0 0 0;
    border: none;
    background: none;
    width: calc(100% - 1rem); /* Breite um 1rem reduziert */
    box-sizing: border-box;
    border-bottom: 2px #000 solid;
}

.navbar-left {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Gleiche Abstände zwischen allen Elementen */
    width: 100%;
    padding: 0 10px; /* Fügt einen kleinen Abstand zu den Seiten hinzu */
}

.navbar-right {
    display: flex;
    gap: 1rem; /* Abstand zwischen den Menüelementen */
    padding: 0;
    margin: 0 0 0 1rem;
    list-style: none; /* Entfernt Aufzählungspunkte */
}

/*NAVBAR-LOGO SVG*/
/* Stil für den svg-container, um alle Buchstaben nebeneinander zu haben */
.svg-logo {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Gleichmäßige Verteilung der SVGs */
    white-space: nowrap;
    width: 100%;
}


.svg-logo svg {
    flex-grow: 0; /* Stellt sicher, dass die SVGs ihre Größe beibehalten */
    flex-shrink: 0; /* Verhindert das Schrumpfen der SVGs */
    height: 4rem; /* Einheitliche Höhe */
}

.navbar a {
    text-decoration: none; /* Keine Unterstreichung */
    color: #000; /* Standardfarbe Schwarz */
    font-family: 'Raleway', sans-serif; /* Einheitliche Schriftart */
    font-weight: 700; /* Fett (Raleway-Bold) */
    margin: 0;
    padding: 0;
}

.navbar a:hover {
    text-decoration: underline 2px;
    text-underline-offset: 0.2rem;
}

.navbar ul {
    list-style: none; /* Entfernt Aufzählungspunkte */
    padding: 0; /* Kein Innenabstand */
    margin: 0; /* Kein Außenabstand */
    display: flex; /* Horizontal anordnen */
    gap: 1rem; /* Abstand zwischen den Elementen */
}

.navbar li {
    font-size: 1rem; /* Einheitliche Schriftgröße */
    font-weight: normal; /* Normales Gewicht */
    color: inherit; /* Farbe von Eltern übernehmen */
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {
    .navbar {
        display: flex;
        flex-direction: column; /* Elemente vertikal anordnen */
        align-items: center;   /* Zentriert ausrichten */
        margin: none;
        padding: none;
    }
  
    .navbar-left {
        order: 1; /* Nach oben */
        margin-bottom: 0.5rem; /* Abstand nach unten */
    }
  
    .navbar-right {
        order: 2; /* Nach unten */
    }

    .navbar {
        width: 100%;
    }

    .svg-logo {
        margin: 0 0.5rem 0 0.5rem;
    }

    html, body {
        overflow-x: hidden;
    }

    .homepage-layout {
        padding: 0 0 0 0;
    }

    .homepage-layout {
        flex-direction: column; /* Elemente vertikal anordnen */
        align-items: stretch; /* Elemente über die gesamte Breite strecken */
    }

    .small-gallery {
        padding-left: 1rem;
        padding-right: 0;
    }

    .small-gallery-item {
        width: 100%;
        margin: none;
        gap: 1rem;
    }

    .small-gallery img {
        max-width: 95%;
        align-content: flex-end;
        width: 100%;
        height: auto;
    }

    .masonry-grid_column {
        margin: 0;
    }

    .menu {
        display: none;
    }

    .small-gallery-date, .small-gallery-description {
        display: none;
    }

    .small-gallery-title-place {
        margin: 0 0 0 -0.6rem;
    }

}

/* Overlay für den Lade-Indikator */
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 1; /* Startzustand für Sichtbarkeit */
    transition: opacity 0.5s ease, visibility 0.5s ease; /* Smooth Fade-Out */
    visibility: visible;
  }

  
  /* Lade-Container */
  .loading {
    position: relative;
    width: 8rem;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Inneres Bild (rotierend) */
  .roll-loader {
    position: absolute;
    width: 14rem;
    height: 14rem;
    animation: spin 5s linear infinite;
  }
  
  /* Äußeres Bild (statisch) */
  .static-loader {
    position: absolute;
    width: 10rem;
    height: 10rem;
    animation: spin 1.5s linear infinite reverse;
  }
  
  /* Animationen */
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }