@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;700;900&display=swap');
@import url('https://unpkg.com/leaflet/dist/leaflet.css');

/* Allgemeine Stile */
body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  overscroll-behavior: contain;
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Verhindert horizontales Scrollen */
}

/* Masonry Gallery Layout */
.gallery_page {
    display: flex;
    padding: 0.5rem 1rem 0 0.5rem;
    gap: 0.5rem;
    width: 100%;
    box-sizing: border-box;
}

.gallery_page-column {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.gallery_page-item {
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

.gallery_page-item img {
    display: block;
    width: 100%;
    object-fit: cover;
    opacity: 0; /* Startzustand für Fade-In */
    transform: translateY(0); /* Anfangsposition */
    animation: fadeInSmooth 0.5s ease-in forwards;
  }

/* Animation für FAB (von rechts nach links) */
@keyframes slideInFromRight {
  from {
    transform: translateX(6.25rem); /* Start außerhalb des Bildschirms */
    opacity: 0; /* Unsichtbar */
  }
  to {
    transform: translateX(0); /* Endposition */
    opacity: 1; /* Sichtbar */
  }
}

/* FAB mit Animation */
.fab {
  position: fixed;
  bottom: 1.25rem;
  right: 1.25rem;
  background-color: #000;
  border: none;
  border-radius: 0;
  width: 2.8rem;
  height: 2.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1000;
  overflow: hidden; /* Wichtig für Bild-Anpassung */
  animation: slideInFromRight 1.5s ease-out; /* Animation beim Laden */
}

/* FAB-Icon */
.fab-icon {
  width: 70%;
  height: 70%;
  filter: invert(1); /* Weißer Icon-Effekt */
  object-fit: contain;
  transition: transform 0.3s ease; /* Animation für die Rotation */
}

/* Menücontainer */
.fab-menu {
  position: fixed;
  bottom: 5rem;
  right: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* Menü sichtbar machen */
.fab-menu.open {
  opacity: 1;
  visibility: visible;
}

/* Drehe das FAB-Icon, wenn das Menü geöffnet ist */
.fab-menu.open ~ .fab .fab-icon {
  transform: rotate(90deg); /* 180 Grad Drehung */
}

/* Menüoptionen */
.fab-menu button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 0.625rem 0.9375rem;
  font-size: 0.875rem;
  text-align: left;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.fab-menu button:hover {
  transform: scale(1.02);
}

/* Aktivierung der Hinweis-Animation */
.fab.hint {
  animation: fabHint 0.8s ease-in-out infinite; /* Wiederholte Animation */
}

/* Animation für sanftes Einblenden */
@keyframes fadeInSmooth {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

.gallery_page-item:hover {
  box-shadow: 0 0.5rem 0.9375rem rgba(0, 0, 0, 0.8); /* Schatten hinzufügen */
}

/* Fade-In Effekt */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Lade-Element mit Spinner */
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000; /* Höher als der FAB */
  opacity: 1; /* Startzustand für Sichtbarkeit */
  transition: opacity 0.5s ease, visibility 0.5s ease; /* Smooth Fade-Out */
  visibility: visible;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem; /* Höhe des Ladebereichs */
}

.loading img {
    width: 2.5rem; /* Bildgröße */
    height: 2.5rem; /* Bildgröße */
    animation: spin 0.6s linear infinite; /* Dreh-Animation */
}

/* Dreh-Animation */
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (max-width: 768px) {
  .gallery_page {
    padding: 0.5rem 0.5rem 0 0.5rem;
  }
}

/*Sort-Menu*/
/* Sortier-Menü */
.sort-menu {
  position: fixed;
  bottom: 5rem;
  right: 14rem;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  z-index: 999;
  opacity: 0; /* Startzustand: Unsichtbar */
  visibility: hidden; /* Verhindert Klicks, wenn unsichtbar */
  transition: opacity 0.3s ease; /* Smooth Transition für Ein-/Ausblenden */
}

/* Sichtbares Sortier-Menü */
.sort-menu.open {
  opacity: 1; /* Sichtbar */
  visibility: visible; /* Klicks erlauben */
}
/* Sort-Menü-Buttons */
.sort-menu button {
  background-color: #fff; /* Weißer Hintergrund */
  color: #000; /* Schwarze Schriftfarbe */
  border: none; /* Kein Rahmen */
  padding: 0.625rem 0.9375rem; /* Einheitliche Polsterung */
  font-size: 0.875rem; /* Lesbare Schriftgröße */
  text-align: left; /* Text linksbündig */
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1); /* Subtile Schatten */
  cursor: pointer; /* Zeiger für Klickbarkeit */
  transition: transform 0.2s ease, background-color 0.2s ease; /* Smooth Transition */
}

/* Hover-Effekt */
.sort-menu button:hover {
  transform: scale(1.02); /* Leichte Vergrößerung */
}