/* Container-Styling */
.menu {
    font-family: Arial, sans-serif;
    background-color: #fff;
  }
  
  /* Überschrift "MENÜ" */
  .menu h2 {
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 5px;
    margin: -0.6rem 0 0 -1.2rem; 
  }

  .menu a {
      font-weight: bold;
      text-transform: uppercase;
      padding-bottom: 5px;
      margin: -0.6rem 0 0 -1.2rem; 
      
  }
  
  /* Listenelemente */
  .menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .menu li {
    margin-bottom: 10px;
    border-bottom: 2px solid #000;
    padding-bottom: 10px;
  }
  
  /* Anzahl Inhalte */
  .menu-item-count {
    font-family: "Raleway", sans-serif;
    font-weight: 300; /* Light */
    font-size: 15px;
    color: #000;
    margin: 0 0 0.5rem 0.4rem;
  }
  
  /* Jahreszeit und Jahr */
  .menu-item-title {
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
    color: #000;
  }
  
  /* Button-Styling */
  .menu-button {
    display: block;
    width: 100%;
    border: none;
    background: none;
    font-size: 14px;
    text-align: left;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
  }
  
  .menu-button:hover {
    color: #0070f3;
  }
/* Abstand für spezifischen Button */
#scramble-button {
    font-size: 1rem;
    margin-bottom: 1rem;
    border-bottom: 0.125rem solid #000;
    padding-bottom: 1rem;
    gap: 0.5rem; /* Added gap between items */
}